xx.com {
    @ws {
        path /ws
        header Connection *Upgrade*
        header Upgrade websocket
    }
    @grpc protocol grpc
    reverse_proxy @ws http://127.0.0.1:2001
    reverse_proxy @grpc h2c://127.0.0.1:2002
    reverse_proxy /h2 h2c://127.0.0.1:2003
    root * /var/www
    file_server
}
