xx.com {
	@grpc {
		protocol grpc
		path /ServiceName/* # Change it to your own ServiceName, and only two slashes are allowed. (eg: /MyService/ServiceName/* will cause an error)
	}
	reverse_proxy @grpc unix//dev/shm/Xray-VLESS-gRPC.socket {
		transport http {
			versions h2c
		}
	}
	root * /var/www
	file_server
}
