xx.com {
	@grpc {
		protocol grpc
		path /ServiceName/* # 修改为你自己的 ServiceName，且仅能存在两个斜杠。（如：/MyService/ServiceName/*会导致错误）
	}
	reverse_proxy @grpc unix//dev/shm/Xray-VLESS-gRPC.socket {
		flush_interval -1
		transport http {
			versions h2c
		}
	}
	root * /var/www
	file_server
}
