xx.com {
	@grpc {
		protocol grpc
		path  # 填写 /你的 ServiceName/*
	}
	reverse_proxy @grpc unix//dev/shm/Xray-VLESS-gRPC.socket {
		transport http {
			versions h2c
		}
	}
	root * /var/www
	file_server
}
